body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to left, #1e5799 0%,#2989d8 54%,#7db9e8 100%);
}
h1 {
  font-family: 'Dancing Script', cursive;
  color: #fff;
}
.f0 {
  font-size: 6rem;
}